@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.headerbg
{
    background:url('https://i.ibb.co/4mSVgdC/banner-background.jpg') , linear-gradient(#070707af,#0e0d0dc9);
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover ;
        border: 1px solid white;
}
